.lazy-load {
	width: 4.45vh;
	height: 4.45vh;
	margin: 0 auto;
	border: 0.45vh solid #97A852;
	border-radius: 50%;
  border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: loading-spin 0.75s infinite linear;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .1s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@keyframes loading-spin {
	100%{
    transform: rotate(360deg);
  }
}