#keyboard {
    button {
      border: none;
      border-radius: 0.5vh;
      padding: 0.5vh 1vh 0.5vh 1vh;
      margin: 0.5vh;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      width: 4vh;
      height: 4vh;
      font-weight: 600;
      touch-action: manipulation;
      text-decoration: none;
      outline: 0;
      font-size: 1.65vh;
      &:disabled {
        cursor: default;
        opacity: 0.25;
      }
    }
  }