$body-background-color: #EEEEEE;
$default-font-color: #000000;
$failColors: (#EEEEEE, #EFDFDF, #F0C3C3, #E8A197, #F08882, #D55555, #AA5555);

body {
    background-color: $body-background-color;
    color: #777777;
}