@mixin user-agent($type){
    -khtml-user-select: $type;
    -moz-user-select: $type;
    -ms-user-select: $type;
    -webkit-user-select: $type;
    user-select: $type;
}

@mixin gradient($angle, $leftColor, $rightColor){
    background: -webkit-linear-gradient(#{$angle}deg, $leftColor, $rightColor);
    background: -moz-linear-gradient(#{$angle}deg, $leftColor, $rightColor);
    background: -o-linear-gradient(#{$angle}deg, $leftColor, $rightColor);
    background: -ms-linear-gradient(#{$angle}deg, $leftColor, $rightColor);
    background: linear-gradient(#{$angle}deg, $leftColor, $rightColor);
}

@mixin opacity($opacity){
    $i: $opacity * 100;
    -khtml-opacity: $opacity;
    -moz-opacity: $opacity;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$i})";
    filter: alpha(opacity = #{$i});
    opacity: $opacity;
}

@mixin negativeColor(){
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

@mixin transitionFade($time){
    -moz-transition: all #{$time}s ease-in-out;
    -webkit-transition: all #{$time}s ease-in-out;
    -ms-transition: all #{$time}s ease-in-out;
    transition: all #{$time}s ease-in-out;
}

@mixin appearance($value){
    -moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

@mixin boxShadow($data){
    -webkit-box-shadow: $data;
    -moz-box-shadow: $data;
    box-shadow: $data;
}

@mixin unselectable(){
    @include user-agent(none);
}